version: "3"
services:
  mysql:
    container_name: mysql
    image: mysql:5.7.7
    volumes:
      - /data/mysql/conf:/etc/mysql/conf.d
      - /data/mysql/data:/var/lib/mysql
      - /data/mysql/logs:/var/log/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=gitchange
    ports:
      - 3306:3306
  redis:
    container_name: redis
    image: redis:5.0.5
    volumes:
      - /data/redis/conf/redis.conf:/usr/local/etc/redis/redis.conf
      - /data/redis/data:/data
    ports:
      - 6379:6379
    command: redis-server /usr/local/etc/redis/redis.conf
  mongo:
    container_name: mongo
    image: mongo:4.0.0
    volumes:
      - /data/mongo/conf:/etc/mongo
      - /data/mongo/data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=gitchange
    ports:
      - 27017:27017
